<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnumerableEx.CS" version="0.1" targetFramework="net40" />
  <package id="FodyCecil" version="1.29.4" targetFramework="net40" developmentDependency="true" />
  <package id="StringEx.CS" version="0.2" targetFramework="net40" />
</packages>